<h1>Hello Captain</h1>
<div id='menu'>
  <ul>
    <li><%= link_to "Home", :home %></li>
    <li><%= link_to "Email Users", :action => 'email' %></li>
  </ul>
</div>
<div id='body'>
  <h3>Users</h3>
  <table>
  <% @users.each { |user|  %>
    <tr>
      <td><%= user.email %></td>
    </tr>
  <% } %>
  </table>
</div>
