<p>When I lived in St. Louis I played on a mens softball team. Every Saturday night I would get a call from the captain to make sure I was going to be there. I knew there had to be a better way, so I made Rec Team Captain</p>
<ul class='features'>
  <li class='features'>Automatically reminds players of upcoming games</li>
  <li class='features'>Tracks who is and is not playing</li>
  <li class='features'>Updates players when schedule changes</li>
  <li class='features'>Email your whole team</li>
</ul>
<button class='features' onclick='window.location.pathname="/admin/register"' >Get Started</button>
