<ul class='features'>
  <li class='features'>Automatically reminds players of upcoming games</li>
  <li class='features'>Tracks who is and is not playing</li>
  <li class='features'>Updates players when schedule changes</li>
  <li class='features'>Email your whole team</li>
</ul>
<a class='features' href='/admin/register'><img class='features' src='/images/get_started.png'/></a>
