<%= link_to 'Home', :home %>
<h1>Features</h1>
<table>
  <tr>
    <th>Feature</th><th>Free</th><th>$9.95/yr</th><th>Available</th>
  </tr>
  <tr>
    <td><%= popup_link 'Schedule Note', 'schedule_note' %>
    <td>Yes</td>
    <td>Yes</td>
    <td>Now</td>
  </tr>
  <tr>
    <td>Configurable Reminder Emails</td>
    <td>No</td>
    <td>Yes</td>
    <td>Now</td>
  </tr>
  <tr>
    <td><%= popup_link "Automated Player Notification on Schedule Change", 'schedule_change' %></td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Now</td>
  </tr>
  <tr>
    <td>Reserve Player Support</td>
    <td>No</td>
    <td>Yes</td>
    <td>2/18/10</td>
  </tr>
  <tr>
    <td>Minimum Player Alert</td>
    <td>No</td>
    <td>Yes</td>
    <td>2/18/10</td>
  </tr>
  <tr>
    <td>Coed Support</td>
    <td>No</td>
    <td>Yes</td>
    <td>2/18/10</td>
  </tr>
  <tr>
    <td>Key Player Alert</td>
    <td>No</td>
    <td>Yes</td>
    <td>2/18/10</td>
  </tr>
  <tr>
    <td>Playing Status Report Email</td>
    <td>No</td>
    <td>Yes</td>
    <td>2/18/10</td>
  </tr>
  <tr>
    <td>Ad free Site and Emails</td>
    <td>No</td>
    <td>Yes</td>
    <td>2/18/10</td>
  </tr>
  <tr>
    <td>Enhanced Player Support</td>
    <td>No</td>
    <td>Yes</td>
    <td>2/25/10</td>
  </tr>
  <tr>
    <td>OpenID Login</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>2/25/10</td>
  </tr>
  <tr>
    <td>Build a Team Feature</td>
    <td>No</td>
    <td>Yes</td>
    <td>3/18/10</td>
  </tr>
  <tr>
    <td>Multiple Teams/Leagues</td>
    <td>No</td>
    <td>Yes</td>
    <td>3/18/10</td>
  </tr>
</table>


