<div id='menu'>
  <ul>
    <li><%= link_to 'Team', :controller => 'schedule', :action => 'show', :id => session[:schedule_id] %></li>
    <li><%= link_to 'Home', home_url %></li>
    <li><%= link_to 'Back', :action => 'index' %></li>
  </ul>
</div>
<div id='body'>
<h1>Email Players</h1>
<%= render "shared/email" %>
</div>
